main {
  max-width: 840px;
}

aside {
  width: 20%;
  margin: 15px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}